
h2 {
	outline: 6px solid #C08808;
	border: 6px solid white;
	border-radius: 60%;
	background-color: #08005C;
	color: white;
	width: 150px;
	height: 40px;
	text-align: center;
	padding-top: 5px;
}

h2:hover {
	cursor: pointer;
	background-color: #890012;
}
