
@font-face {
	font-family: Bauhaus;
	src: url("http://www.fontineed.com/font/7864_Bauhaus");
}

h2 {
	border: 4px solid #C08808;
	border-radius: 60%;
	background-color: #08005C;
	color: white;
	width: 150px;
	text-align: center;
	font-family: Bauhaus;
}

h2:hover {
	cursor: pointer;
	background-color: #890012;
}
